.img {
  padding: 2rem;
  top: 5rem;
  position: relative;
}

.description {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.7;
}
.price {
  font-size: 1rem;
}
.rating {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 800;
  color: white;
}
.genre {
  border: 1px black solid;
  border-radius: 3rem;
  padding: 1rem 2rem;
  background-color: yellow;
  margin: 3rem;
}
.details {
  color: white;
  top: 50%;
  left: 42%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black color */
}

.date {
  font-size: 1.5rem;
  font-weight: 800;
}
h3 {
  font-size: 3rem;
  font-weight: 900;
}
.imdb {
  font-size: 0.6rem;
  font-weight: 500;
}
.icon {
  border: 1px solid white;
  background-color: transparent;
  padding: 0.8rem 0.4rem;
  width: 6%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
/* @media (max-width: 1500px) {
  .details {
    top: 29%;
  }
  .img {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .img {
    padding: 5rem;
  }
  .details {
    top: 20%;
  }
}
@media (max-width: 956px) {
  .flex {
    display: flex;
    flex-direction: row;
  }
  .rating {
    color: black;
  }
  .details {
    color: black;
    position: absolute;
    width: 50%;
    top: 70%;
    left: 51%;
  }
  .img {
    width: 50%;
    position: absolute;
    top: 20%;
    padding: 2rem;
  }
}
@media (max-width: 660px) {
  .img {
    padding: 5rem;
    width: 70%;
    top: 20%;
    padding: 1rem;
    left: 20%;
  }

  .details {
    color: black;
    position: relative;
    width: 100%;
    left: 0%;
    padding-top: 3rem;
    top: 92%;
  }
}
@media (max-width: 475px) {
  .details {
    margin-top: 2rem;
    top: 100%;
    left: 10%;
  }
  h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .img {
    width: 90%;
    left: 5%;
    padding: 3rem;
  }
  .date {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 375px) {
  .details {
    margin-top: 0rem;
    padding-top: 0;
    top: 65%;
    left: 10%;
  }
  h3 {
    font-size: 1rem;
  }
} */
