@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-button {
  border: none;
  --bs-border-width: 0;
}
.input-section {
  background-color: rgb(247, 247, 247);
}
.nav {
  -webkit-box-shadow: -5px 9px 42px -8px rgba(201, 185, 201, 1);
  -moz-box-shadow: -5px 9px 42px -8px rgba(201, 185, 201, 1);
  box-shadow: -5px 9px 42px -8px rgba(201, 185, 201, 1);
}
